# Exploratory Data Analysis

In [2]:
# Import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### AADT
_AADT stands for Annual Average Daily Traffic. It's a measurement of how busy a road is. AADT is calculated by dividing the total volume of vehicle traffic on a highway or road for a year by 365 days.  It's expressed in vehicles per day (vpd)_

### AADT Dataset Info
The Annual Average Daily Traffic (AADT) data is collected by the Maryland Department of Transportation and contains information regarding geographic coverage,  traffic volume information and historical data for the past decade. The collected data is present in both linear road segment and point geometric features, the linear road segment dataset was used for this analysis. The data was collected using over 8700 counting stations and 84 Automatic Traffic Recorders (ATRs). Counts were taken every 3 or 6 year cycle and complemented by growth factor adjustments. This data serves as a critical resource for both federal and state agencies. 

### Link to Data Source
https://data.imap.maryland.gov/datasets/3f4b959826c34480be3e4740e4ee025f_1/explore?showTable=true

In [25]:
# Loaded the AADT road segment data
aadt_data = pd.read_csv('MDOT_SHA_Annual_Average_Daily_Traffic_(AADT).csv')

In [26]:
aadt_data.head()

,OBJECTID,LOCATION_ID,COUNTY_ID,COUNTY_DESC,MUN_SORT,MUNICIPALITY,ROADNAME,ID_PREFIX,ID_RTE_NO,MP_SUFFIX,...,COMBINATION_UNIT_AADT,LOC_ERROR,Shape__Length0,AADT_2019,AAWDT_2019,AADT_2020,AAWDT_2020,AADT_2021,AAWDT_2021,SHAPE_Length
0,84093,S2011020850,2,Anne Arundel,0,NaN,Chestnut Tree Dr,CO,2468,,...,NaN,NO ERROR,NaN,3682,4052,3073,3323,3524,3704,1770.025170
1,84094,S2006010024,1,Allegany,0,NaN,Ramp 6 Fr Is 68 Eb To Midlothian Rd Sb,RP,68,,...,NaN,NO ERROR,NaN,181,191,152,162,173,183,209.910519
2,84095,S2012030011,3,Baltimore,0,NaN,Old Battle Grove Rd,CO,5558,,...,NaN,NO ERROR,NaN,3111,3421,2602,2812,2983,3133,299.486430
3,84096,S2012030219,3,Baltimore,0,NaN,Washington Ave,CO,1172,,...,NaN,NO ERROR,NaN,4901,5391,4092,4422,4683,4923,161.465065
4,84097,B3824,5,Caroline,0,NaN,Dover Rd,MD,331,,...,NaN,NO ERROR,NaN,12331,13071,10302,11132,11793,12623,6188.617149

In [27]:
aadt_data.info() # Checked for missing values and column info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10013 entries, 0 to 10012
Data columns (total 60 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   OBJECTID               10013 non-null  int64
 1   LOCATION_ID            10013 non-null  object
 2   COUNTY_ID              10013 non-null  int64
 3   COUNTY_DESC            10013 non-null  object
 4   MUN_SORT               10013 non-null  int64
 5   MUNICIPALITY           1372 non-null   object
 6   ROADNAME               10013 non-null  object
 7   ID_PREFIX              10013 non-null  object
 8   ID_RTE_NO              10013 non-null  int64
 9   MP_SUFFIX              10013 non-null  object
 10  ID_MP                  10013 non-null  float64
 11  BEGIN_SECTION          10013 non-null  float64
 12  END_SECTION            10013 non-null  float64
 13  STATION_DESC           10013 non-null  object
 14  ROAD_SECTION           10013 non-null  object
 15  RURAL_URBAN            10013 non-null  object
 16  F_SYSTEM               10013 non-null  int64
 17  F_SYSTEM_DESC          10013 non-null  object
 18  ROUTEID                10013 non-null  object
 19  ROUTEID_RH             0 non-null      float64
 20  MAIN_LINE              10013 non-null  int64
 21  PEAK_HOUR_DIRECTION    10002 non-null  float64
 22  NUM_LANES              10013 non-null  int64
 23  COUNTED_FACTORED       10013 non-null  object
 24  STMP_SEQ               10013 non-null  int64
 25  K_FACTOR               9170 non-null   float64
 26  D_FACTOR               10006 non-null  float64
 27  NORTH_EAST_SPLIT       10006 non-null  float64
 28  SOUTH_WEST_SPLIT       10006 non-null  float64
 29  AVMT                   10013 non-null  float64
 30  LINK                   10013 non-null  object
 31  AADT_2013              8634 non-null   float64
 32  AADT_2014              8844 non-null   float64
 33  AADT_2015              8906 non-null   float64
 34  AADT_2016              8912 non-null   float64
 35  AADT_2017              9136 non-null   float64
 36  AADT_2018              10007 non-null  float64
 37  AADT                   10013 non-null  int64
 38  AAWDT_2013             8631 non-null   float64
 39  AAWDT_2014             8844 non-null   float64
 40  AAWDT_2015             8906 non-null   float64
 41  AAWDT_2016             8912 non-null   float64
 42  AAWDT_2017             9136 non-null   float64
 43  AAWDT_2018             10007 non-null  float64
 44  AAWDT                  10013 non-null  int64
 45  MOTORCYCLE_AADT        2354 non-null   float64
 46  CAR_AADT               2354 non-null   float64
 47  LIGHT_TRUCK_AADT       2354 non-null   float64
 48  BUS_AADT               2354 non-null   float64
 49  SINGLE_UNIT_AADT       2354 non-null   float64
 50  COMBINATION_UNIT_AADT  2354 non-null   float64
 51  LOC_ERROR              10013 non-null  object
 52  Shape__Length0         0 non-null      float64
 53  AADT_2019              10013 non-null  int64
 54  AAWDT_2019             10013 non-null  int64
 55  AADT_2020              10013 non-null  int64
 56  AAWDT_2020             10013 non-null  int64
 57  AADT_2021              10013 non-null  int64
 58  AAWDT_2021             10013 non-null  int64
 59  SHAPE_Length           10013 non-null  float64
dtypes: float64(30), int64(16), object(14)
memory usage: 4.6+ MB

### Data Cleaning and Column Selection
Dropped columns from dataset based on the following factors:
1. relevance to analysis 
2. redundancy
3. missing/irrelevant data
4. efficiency
   
_Columns including annual average weekday traffic and vehicle class AADT were removed. AADT is the main output being analyzed in this project and vehicle class AADT contained significant amount of missing values. ID information, redundant location info and data related to road segment mapping were also removed._

In [31]:
# Created list containing columns that are to be dropped from the dataset 
columns_to_drop = ['OBJECTID', 'LOCATION_ID', 'COUNTY_ID', 'MUN_SORT', 'LOC_ERROR','ID_RTE_NO','MP_SUFFIX','ID_MP','BEGIN_SECTION','END_SECTION','F_SYSTEM','ROUTEID','ROUTEID_RH','MAIN_LINE','COUNTED_FACTORED', 'STMP_SEQ',
       'K_FACTOR', 'D_FACTOR','LINK','AAWDT_2013', 'AAWDT_2014', 'AAWDT_2015', 'AAWDT_2016', 'AAWDT_2017',
       'AAWDT_2018', 'AAWDT', 'MOTORCYCLE_AADT', 'CAR_AADT',
       'LIGHT_TRUCK_AADT', 'BUS_AADT', 'SINGLE_UNIT_AADT',
       'COMBINATION_UNIT_AADT', 'LOC_ERROR', 'Shape__Length0',
       'AAWDT_2019', 'AAWDT_2020', 'AAWDT_2021',
       'SHAPE_Length'] 

aadt_data = aadt_data.drop(columns = columns_to_drop)

In [36]:
aadt_data.head()

,COUNTY_DESC,MUNICIPALITY,ROADNAME,ID_PREFIX,STATION_DESC,ROAD_SECTION,RURAL_URBAN,F_SYSTEM_DESC,PEAK_HOUR_DIRECTION,NUM_LANES,...,AADT_2013,AADT_2014,AADT_2015,AADT_2016,AADT_2017,AADT_2018,AADT,AADT_2019,AADT_2020,AADT_2021
0,Anne Arundel,NaN,Chestnut Tree Dr,CO,Chestnut Tree Dr - Between Green Holly Dr & Ra...,Hilltop Dr To Green Holly Dr,Urban,Local,1.0,2,...,3822.0,3813.0,3914.0,3995.0,3710.0,3681.0,3555,3682,3073,3524
1,Allegany,NaN,Ramp 6 Fr Is 68 Eb To Midlothian Rd Sb,RP,Exit 33 Ramp 6 From Is 68 Eb To Midlothian Rd Sb,Exit 33 Ramp 06 Ramp 3 Fr Ramp 6 To Midlothian...,Urban,Interstate,2.0,1,...,171.0,172.0,183.0,194.0,205.0,180.0,184,181,152,173
2,Baltimore,NaN,Old Battle Grove Rd,CO,Old Battle Grove Rd - Between North Point Rd &...,North Point Rd To Road End,Urban,Minor Collector,3.0,2,...,2961.0,2952.0,3033.0,3094.0,3175.0,3110.0,3004,3111,2602,2983
3,Baltimore,NaN,Washington Ave,CO,Washington Ave - Between Joppa Rd & Md 45,Joppa Rd W To Md 45,Urban,Major Collector,2.0,2,...,4451.0,4442.0,4563.0,4654.0,4775.0,4900.0,4714,4901,4092,4683
4,Caroline,NaN,Dover Rd,MD,Md331-.20 Mi S Of Us50,Md 578 To Talbot Co/l,Rural,Minor Arterial,0.0,2,...,11841.0,11812.0,11640.0,11861.0,12152.0,12330.0,11864,12331,10302,11793

In [33]:
aadt_data.columns

Index(['COUNTY_DESC', 'MUNICIPALITY', 'ROADNAME', 'ID_PREFIX', 'STATION_DESC',
       'ROAD_SECTION', 'RURAL_URBAN', 'F_SYSTEM_DESC', 'PEAK_HOUR_DIRECTION',
       'NUM_LANES', 'NORTH_EAST_SPLIT', 'SOUTH_WEST_SPLIT', 'AVMT',
       'AADT_2013', 'AADT_2014', 'AADT_2015', 'AADT_2016', 'AADT_2017',
       'AADT_2018', 'AADT', 'AADT_2019', 'AADT_2020', 'AADT_2021'],
      dtype='object')

In [54]:
aadt_data['ID_PREFIX'].unique() # could not find definintions for OP and GV

array(['CO', 'RP', 'MD', 'IS', 'US', 'MU', 'SR', 'OP', 'GV'], dtype=object)

In [58]:
#OP and GV only had 19 and 21 observations respectively out of 10013 rows and put them in unknown
#filtered ID_prefix series for OP and GV generating boolean value series and then used sum function to find count
print((aadt_data['ID_PREFIX'] == 'OP').sum())
print((aadt_data['ID_PREFIX'] == 'GV').sum())

19
21

In [ ]:
#created dictionary with prefix definitions
road_type_dict = {
    'IS': 'Interstate Highways',
    'US': 'U.S. Routes',
    'MD': 'Maryland State Routes',
    'CO': 'County Roads',
    'MU': 'Municipal Roads',
    'SR': 'State Routes',
    'RP': 'Ramp'}
#used map function with dictionary as input and used fillna to set OP and GV prefixes as unknown
aadt_data['ID_PREFIX'] = aadt_data['ID_PREFIX'].map(road_type_dict).fillna('Unknown')

In [ ]:
# Renamed Columns according to table found in source website
aadt_data.rename(columns={'COUNTY_DESC': 'COUNTY', 'old_name2': 'new_name2',, 'old_name2': 'new_name2'}, inplace=True

In [ ]:
def get_yearly_traffic_data(data, year):
    year_column = f'AADT_{year}'
    if year_column in data.columns:
        return data[['ROADNAME', 'COUNTY', year_column]]
    else:
        return None

def compare_annual_traffic(data, year1, year2):
    col1, col2 = f'AADT_{year1}', f'AADT_{year2}'
    if col1 in data.columns and col2 in data.columns:
        return data[['ROADNAME', 'COUNTY_DESC', col1, col2]]
    else:
        return None

def average_traffic_by_county(data, year):
    year_column = f'AADT_{year}'
    if year_column in data.columns:
        return data.groupby('COUNTY_DESC')[year_column].mean().sort_values(ascending=False)
    else:
        return None

def average_traffic_by_road_type(data, year):
    year_column = f'AADT_{year}'
    if year_column in data.columns:
        return data.groupby('ID_PREFIX')[year_column].mean().sort_values(ascending=False)
    else:
        return None